@import url("http://fonts.googleapis.com/css?family=Material+Icons");
@import url("http://fonts.googleapis.com/css?family=Oswald");
@import url("https://unpkg.com/ress/dist/ress.min.css");
/* antibug.doc.BuiltinStyles#a */.L {
	font-family: "Yu Gothic UI";
	text-decoration: none;
}

/* antibug.doc.BuiltinStyles#body */.C {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: hsl(0,0%,100%);
	font-size: 12px;
	font-family: "Yu Gothic UI","Noto Sans",sans-serif;
}

/* antibug.doc.BuiltinStyles#dd */.H {
	margin-bottom: 20px;
}

/* antibug.doc.BuiltinStyles#dl */.F {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(48,95%,59%,0.19999999999999996);
}

/* antibug.doc.BuiltinStyles#dl */.F:last-child {
	margin-top: 56px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(2,68%,58%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(0,0%,0%,0);
	position: relative;
}

/* antibug.doc.BuiltinStyles#dl */.F:last-child::before {
	display: block;
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	content: 'Signature';
	position: absolute;
	top: -36px;
	left: -3px;
}

/* antibug.doc.BuiltinStyles#dl */.F:last-child dt {
	display: block;
	width: 70px;
	float: left;
	font-size: 9px;
	font-weight: bold;
	color: hsl(2,68%,58%);
	padding-top: 2px;
	border-bottom-style: none;
	text-transform: capitalize;
}

/* antibug.doc.BuiltinStyles#dl */.F:last-child dd {
	margin-bottom: 15px;
	margin-left: 70px;
}

/* antibug.doc.BuiltinStyles#dl */.F:last-child b {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: hsl(0,0%,93%);
	padding-bottom: 2px;
	margin-bottom: 2px;
	font-weight: bold;
	text-transform: capitalize;
}

/* antibug.doc.BuiltinStyles#dt */.G {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: hsl(0,0%,87%);
	padding-bottom: 2px;
	margin-bottom: 2px;
}

/* antibug.doc.BuiltinStyles#h */.M {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

/* antibug.doc.BuiltinStyles#h1 */.N {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

/* antibug.doc.BuiltinStyles#h2 */.O {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

/* antibug.doc.BuiltinStyles#h3 */.P {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

/* antibug.doc.BuiltinStyles#h4 */.Q {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

/* antibug.doc.BuiltinStyles#h5 */.R {
	display: none;
}

/* antibug.doc.BuiltinStyles#heading */.B {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

/* antibug.doc.BuiltinStyles#list */.E {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(48,95%,59%,0.19999999999999996);
}

/* antibug.doc.BuiltinStyles#ol */.J {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(48,95%,59%,0.19999999999999996);
}

/* antibug.doc.BuiltinStyles#p */.D:not([class]) {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(204,75%,48%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
}

/* antibug.doc.BuiltinStyles#pre */.K {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(120,39%,55%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(120,39%,55%,0.19999999999999996);
}

/* antibug.doc.BuiltinStyles#ul */.I {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(48,95%,59%,0.19999999999999996);
}

/* antibug.doc.BuiltinStyles#ul */.I li {
	list-style-type: none;
	padding-bottom: 10px;
	padding-left: 1em;
	text-indent: -1.5em;
}

/* antibug.doc.BuiltinStyles#ul */.I li::before {
	font-family: "Material Icons";
	color: hsl(48,75%,59%);
	content: '\e876';
	vertical-align: bottom;
	padding-right: 0.5em;
}

