@import url("http://fonts.googleapis.com/css?family=Material+Icons");
@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://unpkg.com/ress/dist/ress.min.css");
/* 1031158501 */.Exception::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(2,68%,58%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'T';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(2,68%,58%);
}

/* 1032724390 */.PRIVATE {
	position: relative;
}

/* 1032724390 */.PRIVATE::before {
	content: '';
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background-color: hsl(2,68%,58%);
	margin-right: 0.6rem;
}

/* 1032724390 */.PRIVATE.FIELD::before {
	content: '\e836';
}

/* 1054374766 */i[array=var]::after {
	content: '...';
}

/* 1078290151 */i[array=fix]::after {
	content: '[]';
}

/* 1111811191 */.package {
	font-weight: bold;
}

/* 1166536953 */.DEFAULT {
	position: relative;
}

/* 1166536953 */.DEFAULT::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: Roboto;
	content: 'D';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 1255946577 */.FINAL {
	position: relative;
}

/* 1255946577 */.FINAL::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: Roboto;
	content: 'F';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 1369811130 */.extends::before {
	content: ' extends ';
}

/* 1383931873 */#SearchByName {
	display: block;
	width: 100%;
	background-color: hsl(0,0%,100%);
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	border-color: hsla(0,0%,24%,0.26);
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}

/* 1387567249 */.VOLATILE {
	position: relative;
}

/* 1387567249 */.VOLATILE::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: Roboto;
	content: 'V';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 150499707 */.Interface::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(271,30%,50%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'I';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(271,30%,50%);
}

/* 1506480352 */.Annotation::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(200,71%,30%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'A';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(200,71%,30%);
}

/* 1553227495 */.parameters::before {
	content: '<';
}

/* 1553227495 */.parameters::after {
	content: '>';
}

/* 1667321053 */.Functional::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(271,30%,50%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'F';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(271,30%,50%);
}

/* 1674086804 */.TRANSIENT {
	position: relative;
}

/* 1674086804 */.TRANSIENT::after {
	color: hsl(200,71%,30%);
	font-size: 0.7rem;
	font-family: "Material Icons";
	content: '\e14c';
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

/* 1954828170 */a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* 1954828170 */a:hover {
	text-decoration: underline;
	text-decoration-color: hsla(240,7%,29%,0.5);
	text-underline-offset: 4px;
	text-underline-position: under;
}

/* 1972846458 */.vs__dropdown-toggle {
	background-color: hsl(0,0%,100%);
}

/* 2034284329 */.pretty {
	display: block;
}

/* 2073911340 */.Class::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(150,46%,36%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'C';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(0,0%,100%);
	background-color: hsl(150,46%,36%);
}

/* 384537519 */.super::before {
	content: ' super ';
}

/* 422751532 */.ABSTRACT {
	position: relative;
}

/* 422751532 */.ABSTRACT::before {
	color: hsl(200,71%,30%);
	font-size: 0.6rem;
	font-family: Roboto;
	content: 'A';
	position: absolute;
	top: -0.2rem;
	left: 0.7rem;
}

/* 513755348 */.AbstractClass::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(150,46%,36%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'C';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 50%;
	color: hsl(150,46%,36%);
}

/* 620459311 */.tree {
	overflow: hidden;
	scrollbar-width: thin;
	height: 60vh;
	background-color: inherit;
}

/* 620459311 */.tree:hover {
	overflow-y: auto;
}

/* 620459311 */.tree dt {
	font-weight: bold;
	cursor: pointer;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 2px;
}

/* 620459311 */.tree dt:hover {
	background-color: hsl(0,0%,100%);
	background-image: inherit;
	background-repeat: repeat;
}

/* 620459311 */.tree dd {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	padding-left: 1rem;
	cursor: pointer;
	border-radius: 2px;
}

/* 620459311 */.tree dd:hover {
	background-color: hsl(0,0%,100%);
	background-image: inherit;
	background-repeat: repeat;
}

/* 682930446 */html {
	font-size: 14px;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
	word-break: break-all;
}

/* 682930446 */html *[class|=el] {
	font-size: 1rem;
}

/* 739078297 */i {
	font-style: normal;
}

/* 771404135 */.PUBLIC {
	position: relative;
}

/* 771404135 */.PUBLIC::before {
	content: '';
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background-color: hsl(150,46%,36%);
	margin-right: 0.6rem;
}

/* 771404135 */.PUBLIC.FIELD::before {
	content: '\e836';
}

/* 779538643 */.SYNCHRONIZED {
	position: relative;
}

/* 779538643 */.SYNCHRONIZED::after {
	color: hsl(200,71%,30%);
	font-size: 0.7rem;
	font-family: "Material Icons";
	content: '\e8ae';
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

/* 816162189 */.Enum::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-color: hsl(0,29%,49%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'E';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border-radius: 3px;
	color: hsl(0,0%,100%);
	background-color: hsl(0,29%,49%);
}

/* 820961432 */.PROTECTED {
	position: relative;
}

/* 820961432 */.PROTECTED::before {
	content: '';
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background-color: hsl(48,95%,59%);
	margin-right: 0.6rem;
}

/* 820961432 */.PROTECTED.FIELD::before {
	content: '\e836';
}

/* 824425077 */.PACKAGEPRIVATE {
	position: relative;
}

/* 824425077 */.PACKAGEPRIVATE::before {
	content: '';
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background-color: hsl(200,71%,30%);
	margin-right: 0.6rem;
}

/* 824425077 */.PACKAGEPRIVATE.FIELD::before {
	content: '\e836';
}

/* antibug.doc.site.ContentsView.style#MemberName */.R {
	font-family: Roboto;
	font-size: 1rem;
	font-weight: normal;
	display: block;
}

/* antibug.doc.site.ContentsView.style#MemberSection */.O {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	border-radius: 4px;
	background-color: hsl(0,0%,100%);
}

/* antibug.doc.site.ContentsView.style#Name */.S {
	font-weight: bold;
	margin-right: 0.175rem;
}

/* antibug.doc.site.ContentsView.style#PackcageName */.P {
	font-size: small;
}

/* antibug.doc.site.ContentsView.style#Return */.T {
	color: hsl(48,95%,29%);
}

/* antibug.doc.site.ContentsView.style#Return */.T::before {
	content: ':';
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* antibug.doc.site.ContentsView.style#SignatureDefinition */.V {
	position: relative;
}

/* antibug.doc.site.ContentsView.style#SignatureDefinition */.V::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* antibug.doc.site.ContentsView.style#SignatureException */.Z {
	position: relative;
}

/* antibug.doc.site.ContentsView.style#SignatureException */.Z::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* antibug.doc.site.ContentsView.style#SignatureException */.Z::before {
	content: 'Throw';
}

/* antibug.doc.site.ContentsView.style#SignatureParameter */.X {
	position: relative;
}

/* antibug.doc.site.ContentsView.style#SignatureParameter */.X::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* antibug.doc.site.ContentsView.style#SignatureParameter */.X::before {
	content: 'Param';
}

/* antibug.doc.site.ContentsView.style#SignatureReturn */.Y {
	position: relative;
}

/* antibug.doc.site.ContentsView.style#SignatureReturn */.Y::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* antibug.doc.site.ContentsView.style#SignatureReturn */.Y::before {
	content: 'Return';
	color: hsl(48,95%,29%);
}

/* antibug.doc.site.ContentsView.style#SignatureTable */.U {
	padding-left: 2.5rem;
	margin-top: 0.1rem;
	margin-bottom: 0.6rem;
}

/* antibug.doc.site.ContentsView.style#SignatureTable */.U td {
	padding-right: 0.8rem;
	vertical-align: top;
	text-overflow: ellipsis;
	line-height: 1.3;
}

/* antibug.doc.site.ContentsView.style#SignatureTable */.U td:not(:last-child) {
	white-space: nowrap;
}

/* antibug.doc.site.ContentsView.style#SignatureTable */.U td:empty::after {
	content: 'No description.';
}

/* antibug.doc.site.ContentsView.style#SignatureTypeVariable */.W {
	position: relative;
}

/* antibug.doc.site.ContentsView.style#SignatureTypeVariable */.W::before {
	position: absolute;
	display: inline-block;
	width: 2.5rem;
	margin-left: -2.5rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* antibug.doc.site.ContentsView.style#SignatureTypeVariable */.W::before {
	content: 'Type';
}

/* antibug.doc.site.ContentsView.style#TypeName */.Q {
	font-family: Roboto;
	font-size: 1.2rem;
	font-weight: normal;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}

/* antibug.doc.site.ContentsView.style#TypeSection */.N {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* antibug.doc.site.ContentsView.style#lambda$25 */.J::before {
	content: 'Type';
}

/* antibug.doc.site.ContentsView.style#lambda$25 */.J li {
	width: 100%;
}

/* antibug.doc.site.ContentsView.style#lambda$25 */.J li > i:nth-child(1) {
	font-weight: bold;
}

/* antibug.doc.site.ContentsView.style#lambda$25 */.J li > i:nth-child(2) {
	color: hsl(240,7%,47%);
	margin-right: 1.5rem;
}

/* antibug.doc.site.ContentsView.style#lambda$31 */.K::before {
	content: 'Extends';
}

/* antibug.doc.site.ContentsView.style#lambda$31 */.K li:not(:last-child)::after {
	color: hsl(240,7%,59%);
	font-size: smaller;
	content: '\025b6';
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

/* antibug.doc.site.ContentsView.style#lambda$34 */.L::before {
	content: 'Implements';
}

/* antibug.doc.site.ContentsView.style#lambda$34 */.L li {
	margin-right: 1.4rem;
}

/* antibug.doc.site.ContentsView.style#lambda$37 */.M::before {
	content: 'Subtypes';
}

/* antibug.doc.site.ContentsView.style#lambda$37 */.M li {
	margin-right: 1.4rem;
}

/* antibug.doc.site.ContentsView.style#traits */.I {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 5rem;
}

/* antibug.doc.site.ContentsView.style#traits */.I::before {
	color: hsl(0,29%,49%);
	display: block;
	width: 5rem;
	margin-left: -5rem;
}

/* antibug.doc.site.ContentsView.style#traits */.I li {
	display: inline-block;
}

/* antibug.doc.site.MainPage.Styles#Contents */.F {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	margin-left: 5rem;
	margin-right: 1.5rem;
}

/* antibug.doc.site.MainPage.Styles#HeaderArea */.B {
	background-color: inherit;
	background-image: inherit;
	background-repeat: repeat;
	position: sticky;
	top: 0;
	width: 85vw;
	height: 80px;
	z-index: 10;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-bottom-color: hsl(200,71%,30%);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* antibug.doc.site.MainPage.Styles#HeaderTitle */.C {
	font-size: 2.5rem;
	font-family: Ubuntu;
	font-weight: normal;
	color: hsl(200,71%,30%);
	align-self: center;
}

/* antibug.doc.site.MainPage.Styles#MainArea */.D {
	width: 85vw;
	display: flex;
	flex-direction: row;
	margin-right: auto;
	margin-left: auto;
}

/* antibug.doc.site.MainPage.Styles#SubNavigation */.G {
	flex-basis: 20vw;
	-webkit-flex-basis: 20vw;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

/* antibug.doc.site.MainPage.Styles#SubNavigationStickyBlock */.H {
	position: sticky;
	top: 80px;
	display: block;
	height: calc(80vh - 80px);
	max-width: 20vw;
	overflow: auto;
	scrollbar-width: thin;
	white-space: nowrap;
}

/* antibug.doc.site.MainPage.Styles#SubNavigationStickyBlock */.H:hover {
	overflow-y: auto;
}

/* antibug.doc.site.MainPage.Styles#SubNavigationStickyBlock */.H>*>* {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}

/* antibug.doc.site.MainPage.Styles#TypeNavigation */.E {
	flex-basis: 15vw;
	-webkit-flex-basis: 15vw;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

/* antibug.doc.site.MainPage.Styles#TypeNavigation */.E>* {
	position: sticky;
	top: 80px;
}

/* antibug.doc.site.MainPage.Styles#TypeNavigation */.E>*>* {
	margin-top: 0.5rem;
}

/* antibug.doc.site.MainPage.Styles#TypeNavigation */.E .el-select {
	width: 100%;
}

/* antibug.doc.site.MainPage.Styles#TypeNavigation */.E .el-checkbox {
	display: block;
}

/* antibug.doc.site.MainPage.Styles#workbench */.A {
	background-color: hsl(185,43%,95%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAE0lEQVR4XmNggILbdx9uwsEAAgDBfQniz1+UngAAAABJRU5ErkJggg==);
	background-repeat: repeat;
	font-size: 12px;
	font-family: Roboto;
	color: hsl(240,7%,29%);
	line-height: 1.5;
	width: 100vw;
}

/* antibug.doc.site.Styles#SignatureParameterPart */.a {
	color: hsl(240,7%,47%);
}

/* antibug.doc.site.SubNavigationView.Styles#Return */.c {
	color: hsl(48,95%,29%);
}

/* antibug.doc.site.SubNavigationView.Styles#Return */.c::before {
	content: ':';
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* antibug.doc.site.SubNavigationView.Styles#Title */.b {
	margin-top: 0.9rem;
	font-weight: bold;
	font-size: 1rem;
}

