@import url("https://fonts.googleapis.com/css?family=Oswald:300");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
a:not([class]) {
	text-decoration: none;
}

* {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-width: 0;
	font-size: 12px;
	font-family: "Yu Gothic UI",sans-serif;
	line-height: 1.35;
}

body {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: hsl(0,0%,100%);
}

dd:not([class]) {
	margin-bottom: 20px;
}

dl:not([class]) {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	background-color: hsla(48,95%,59%,0.09999999999999998);
}

dl:last-child {
	margin-top: 58px;
	margin-bottom: 58px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(2,68%,58%);
	background-color: hsla(0,0%,0%,0);
	position: relative;
}

dl:last-child::before {
	font-size: 18px;
	font-family: Oswald,sans-serif;
	display: block;
	content: 'Signature';
	position: absolute;
	top: -36px;
	left: -3px;
}

dl:last-child dt {
	display: block;
	width: 70px;
	float: left;
	font-size: 9px;
	font-weight: bold;
	color: hsl(2,68%,58%);
	padding-top: 2px;
	border-bottom-style: none;
	text-transform: capitalize;
}

dl:last-child dd {
	margin-bottom: 15px;
	margin-left: 70px;
}

dl:last-child b {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: hsl(0,0%,93%);
	padding-bottom: 3px;
	margin-bottom: 3px;
	font-weight: bold;
	text-transform: capitalize;
}

dt:not([class]) {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: hsl(0,0%,87%);
	padding-bottom: 3px;
	margin-bottom: 3px;
}

h {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block;
}

h1 {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block;
}

h2 {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block;
}

h3 {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block;
}

h4 {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block;
}

h5:not([class]) {
	display: none;
}

heading {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block;
}

list {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	background-color: hsla(48,95%,59%,0.09999999999999998);
}

ol:not([class]) {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	background-color: hsla(48,95%,59%,0.09999999999999998);
}

p:not([class]) {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(204,75%,48%);
}

pre:not([class]) {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(120,39%,55%);
	background-color: hsla(120,39%,55%,0.09999999999999998);
	font-family: "Yu Gothic UI",sans-serif;
}

ul:not([class]) {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	background-color: hsla(48,95%,59%,0.09999999999999998);
}

ul:not([class]) li {
	list-style-type: none;
	padding-bottom: 6px;
		display: table;
}

ul:not([class]) li::before {
	font-family: "Material Icons";
	font-size: 11px;
	color: hsl(48,75%,59%);
	content: '\e876';
	display: table-cell;
	vertical-align: base;
	padding-right: 5px;
}


}

