@import url("http://fonts.googleapis.com/css?family=Material+Icons");
@import url("http://fonts.googleapis.com/css?family=Oswald");
@import url("https://unpkg.com/ress/dist/ress.min.css");
a {
	font-family: "Yu Gothic UI";
	text-decoration: none;
}

body {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: hsl(0,0%,100%);
	font-size: 12px;
	font-family: "Yu Gothic UI","Noto Sans",sans-serif;
}

dd {
	margin-bottom: 20px;
}

dl {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(48,95%,59%,0.19999999999999996);
}

dl:last-child {
	margin-top: 56px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(2,68%,58%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(0,0%,0%,0);
	position: relative;
}

dl:last-child::before {
	display: block;
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	content: 'Signature';
	position: absolute;
	top: -36px;
	left: -3px;
}

dl:last-child dt {
	display: block;
	width: 70px;
	float: left;
	font-size: 9px;
	font-weight: bold;
	color: hsl(2,68%,58%);
	padding-top: 2px;
	border-bottom-style: none;
	text-transform: capitalize;
}

dl:last-child dd {
	margin-bottom: 15px;
	margin-left: 70px;
}

dl:last-child b {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: hsl(0,0%,93%);
	padding-bottom: 2px;
	margin-bottom: 2px;
	font-weight: bold;
	text-transform: capitalize;
}

dt {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: hsl(0,0%,87%);
	padding-bottom: 2px;
	margin-bottom: 2px;
}

h {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

h1 {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

h2 {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

h3 {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

h4 {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

h5 {
	display: none;
}

heading {
	font-family: Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 12px;
	display: block;
}

list {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(48,95%,59%,0.19999999999999996);
}

ol {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(48,95%,59%,0.19999999999999996);
}

p:not([class]) {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(204,75%,48%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
}

pre {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(120,39%,55%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(120,39%,55%,0.19999999999999996);
}

ul {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: hsl(48,95%,59%);
	line-height: 1.5;
	font-family: "Yu Gothic UI",sans-serif;
	background-color: hsla(48,95%,59%,0.19999999999999996);
}

ul li {
	list-style-type: none;
	padding-bottom: 10px;
	padding-left: 1em;
	text-indent: -1.5em;
}

ul li::before {
	font-family: "Material Icons";
	color: hsl(48,75%,59%);
	content: '\e876';
	vertical-align: bottom;
	padding-right: 0.5em;
}

t-family: "Material Icons";
	color: hsl(48,75%,59%);
	content: '\e876';
	vertical-align: bottom;
	padding-right: 0.5em;
}

em;
}

ntent: '\e876';
	vertical-align: bottom;
	padding-right: 0.5em;
}

